# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [3]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis, get_worker_contradiction_outlier_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from analyze_relations_and_examples import agreement_relations_across_runs
#from aggregate_labels import get_overview

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [8]:
run = 4
batch = 117
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails', 'n_annotations']]

Discarded 0.0 annotations.

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails,n_annotations
0,55e1eab7ac274f0012e95aba,0.160000,12,0,74
7,5e66856ab10742406840291a,0.160000,12,0,74
5,5cd2cfecf03d540016cbc0a9,0.106667,8,0,74
6,5e0794f3deea2b109ab09ddb,0.040000,3,0,74
9,5eb2ef561f70080aa5d588fa,0.026667,2,0,74
1,5ba0eedba9e7be000135df27,0.000000,0,0,74
2,5be385ba24f70e00018b0024,0.000000,0,0,74
3,5c9e5360bb028c00166755fa,0.000000,0,0,74
4,5ca87fb236a495001765efef,0.000000,0,0,74
8,5e9cfd9cee0aed225ed1c501,0.000000,0,0,74

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [9]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
analysis_type = 'workers'
df_outliers = get_worker_contradiction_outlier_analysis(analysis_type, run, group, batch)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][:10]

Discarded 655.0 annotations.
Results written to: ../analyses/workers-outliers/run-all--group_experiment-all--batch-all-.csv

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
212,5c2c7eae8a20f50001e9a8c0,0.770115,67,0
679,5bfed16ca1f050000102693c,0.712644,62,1
872,5d6ef000391fb4001a97337d,0.696970,69,1
1060,111,0.650000,39,0
185,5e8115962b00617ffc1b04ad,0.633333,57,0
631,5c91321c0375460001034cb8,0.633333,38,0
1028,5d76a2dc2a476a0001ce6843,0.625000,45,1
684,5e2f554c4c58fa515ad361d0,0.600000,3,0
176,5e8cffa6f387850d0476f30a,0.576923,45,0
785,5e87276d17cdf1028850af59,0.529412,54,1

In [6]:
# Good workers
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][-20:]

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
452,5c3de869b3369c0001a9264a,0.0,0,0
454,5de93ba177443804fea65939,0.0,0,0
565,5de5f4ddb77130570b894889,0.0,0,0
463,5dad7f29033d57001357a2b8,0.0,0,0
561,5aed0f3823e2ca0001976444,0.0,0,0
556,5db2d023d76f07000b00349a,0.0,0,0
555,5c544985be9cd80001156766,0.0,0,0
547,5ba4c797b5079e0001e3cb1d,0.0,0,1
541,582c280c3b081f0001510456,0.0,0,0
531,5c91886a2535970018cdc9cb,0.0,0,0
527,5c409b3a5daced00018bf611,0.0,0,0
526,56a5702281a8ca000d3e573e,0.0,0,0
513,5d8b0fb691f3e600016e6874,0.0,0,0
510,5de3dd4b7d44173ccd0e11b3,0.0,0,0
499,5de4233a9d5c0f0165d7d35e,0.0,0,0
495,5aad5d5a917b3b00010d42a1,0.0,0,0
494,5de0ce83cca54a1199017f73,0.0,0,0
480,5de7fd8df31ad27743f8d19f,0.0,0,0
474,5b2421a25b5c0900018a69aa,0.0,0,0
534,5c506148bfe6820001309a06,0.0,0,0

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [6]:
# copy from above - worker with many disagreements in target batch
worker = '5dc1f283fc1cda15c5015611'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,average_time_question,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,contradictory_pairs_ratio,fail_annotation_ratio,n_annotations,n_contradictions,n_fails,n_possible_contradictions,workerid,...,"(affording_activity, rare)","(typical_of_property, unusual)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(impossible, typical_of_property)","(impossible, typical_of_concept)","(implied_category, impossible)","(afforded_unusual, rare)","(affording_activity, impossible)","(afforded_usual, rare)"
154,9.774582,0.142857,0.130081,0.310345,0.004464,224,32,1,246,5dc1f283fc1cda15c5015611,...,0.00813,0.01626,NaN,NaN,0.012195,0.00813,0.00813,NaN,0.004065,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [5]:
run = '4'
batch = '116'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(affording_activity, rare)","(affording_activity, unusual)","(rare, typical_of_property)","(rare, typical_of_concept)","(typical_of_property, unusual)","(typical_of_concept, unusual)","(implied_category, rare)","(implied_category, unusual)","(afforded_usual, unusual)","(afforded_usual, impossible)"
6,65.117250,0.230000,0.191667,100,23,120,10,5,hot-mug,0.5,...,2.0,3.0,3.0,3.0,3.0,4.0,2.0,3.0,NaN,NaN
2,65.117250,0.170000,0.141667,100,17,120,10,4,wheels-wheel,0.4,...,2.0,1.0,3.0,3.0,2.0,3.0,2.0,1.0,NaN,NaN
3,65.117250,0.080000,0.066667,100,8,120,10,2,dangerous-acaridae,0.2,...,1.0,1.0,NaN,1.0,NaN,1.0,2.0,2.0,NaN,NaN
0,65.117250,0.060000,0.050000,100,6,120,10,1,black-wine,0.1,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,65.117250,0.030000,0.025000,100,3,120,10,1,sweet-litchi,0.1,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
4,64.744205,0.019802,0.013333,101,2,150,10,1,fly-armadillo,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
5,65.117250,0.000000,0.000000,100,0,120,10,0,square-circle,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,651.172500,0.000000,0.000000,10,0,0,10,0,_check4-_check4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,651.172500,0.000000,0.000000,10,0,0,10,0,_test3-_test,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [5]:
worker = '5dc1f283fc1cda15c5015611'

show_pairs_of_worker(worker, df)

Worker 5dc1f283fc1cda15c5015611 contradicted themselves in the following pairs:

### Compare to entire annotation set

In [9]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df[:10]

Discarded 655.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(typical_of_concept, unusual)","(typical_of_property, unusual)","(afforded_usual, impossible)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)","(afforded_usual, unusual)","(afforded_usual, rare)"
1123,91.487260,0.206667,0.155,150,31,200,15,14,roll-bucket,0.933333,...,3.0,1.0,NaN,1.0,1.0,8.0,8.0,1.0,NaN,1.0
1054,67.068860,0.180000,0.135,150,27,200,15,13,roll-glass,0.866667,...,NaN,2.0,NaN,NaN,NaN,9.0,5.0,2.0,1.0,NaN
1003,74.643380,0.146667,0.110,150,22,200,15,13,roll-tray,0.866667,...,2.0,2.0,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN
790,50.681993,0.299363,0.235,157,47,200,15,13,roll-nut,0.866667,...,5.0,2.0,2.0,1.0,NaN,11.0,5.0,2.0,4.0,1.0
985,81.443980,0.240000,0.180,150,36,200,15,12,roll-car,0.800000,...,2.0,1.0,1.0,NaN,NaN,11.0,5.0,4.0,2.0,1.0
1077,77.292245,0.235669,0.185,157,37,200,15,12,roll-peg,0.800000,...,NaN,NaN,2.0,NaN,1.0,8.0,8.0,5.0,2.0,3.0
1025,68.401000,0.233333,0.175,150,35,200,15,12,roll-hammer,0.800000,...,2.0,2.0,2.0,NaN,NaN,8.0,5.0,5.0,1.0,NaN
981,62.036720,0.293333,0.220,150,44,200,15,12,roll-bolt,0.800000,...,3.0,3.0,2.0,1.0,2.0,6.0,5.0,4.0,4.0,3.0
776,83.456113,0.226667,0.170,150,34,200,15,12,roll-ferrule,0.800000,...,NaN,NaN,1.0,NaN,NaN,7.0,6.0,5.0,1.0,1.0
335,70.416410,0.300000,0.250,100,30,120,10,8,dangerous-pusher,0.800000,...,3.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [12]:
# check specific pair:

pair = 'yellow-pineapple'
df.loc[df['pair'] == pair]

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(typical_of_concept, unusual)","(typical_of_property, unusual)","(afforded_usual, impossible)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)","(afforded_usual, unusual)","(afforded_usual, rare)"
385,117.431317,0.0,0.0,60,0,0,10,0,yellow-pineapple,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [7]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.1405940594059406
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.1405940594059406)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [20]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'
print(f"Run {run}, all experiment groups:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
#get_agreement(data_dict_list)

run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *, all experiment groups:
Discarded 655.0 annotations.
Run *:
Discarded 655.0 annotations.

/Users/piasommerauer/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:576: RuntimeWarning: invalid value encountered in true_divide
  k = np.sum(w_mat * confusion) / np.sum(w_mat * expected)

Krippendorff's alpha: 0.23567624334318582
Average Cohen's Kappa (pairwise): nan
Proportional agreement (pairwise): 0.6230672746100898

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3613605196353661
Average Cohen's Kappa (pairwise): nan
Proportional agreement (pairwise): 0.6957795385374622

{'Krippendorff': 0.3613605196353661,
 'Proportional': 0.6957795385374622,
 'Av_Cohens_kappa': nan}

In [13]:
# Run 4 see if selecting good workers helps agreement:

# no whitelist
run = '4'
batch = '23'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '27'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '28'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '29'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '40'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '41'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '42'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '43'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '44'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '45'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '46'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '47'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '48'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '100'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '110'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '112'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.05988608397995021
Average Cohen's Kappa (pairwise): 0.06951493879925605
Proportional agreement (pairwise): 0.5324561403508771

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36094682230869035
Average Cohen's Kappa (pairwise): 0.3567475052361655
Proportional agreement (pairwise): 0.7078078078078076

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38306989982331197
Average Cohen's Kappa (pairwise): 0.38816630417456993
Proportional agreement (pairwise): 0.732456140350877

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.27779308118876944
Average Cohen's Kappa (pairwise): 0.2813174663604738
Proportional agreement (pairwise): 0.6657407407407409

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.28576527457959255
Average Cohen's Kappa (pairwise): 0.2876034326541763
Proportional agreement (pairwise): 0.6632716049382716

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2768403864897817
Average Cohen's Kappa (pairwise): 0.2781291987090818
Proportional agreement (pairwise): 0.6587719298245616

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38854530410759147
Average Cohen's Kappa (pairwise): 0.38876532184706114
Proportional agreement (pairwise): 0.6987987987987986

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3684756150950007
Average Cohen's Kappa (pairwise): 0.3712649234833178
Proportional agreement (pairwise): 0.7069069069069067

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3045833639053982
Average Cohen's Kappa (pairwise): 0.30512979568179693
Proportional agreement (pairwise): 0.6672364672364673

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3862504409171078
Average Cohen's Kappa (pairwise): 0.39067801043143063
Proportional agreement (pairwise): 0.7012345679012345

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2779135225775543
Average Cohen's Kappa (pairwise): 0.28428208100463187
Proportional agreement (pairwise): 0.6545454545454547

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3613558843684369
Average Cohen's Kappa (pairwise): 0.36303578441868356
Proportional agreement (pairwise): 0.7163580246913579

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.31568332789916853
Average Cohen's Kappa (pairwise): 0.3168582159819613
Proportional agreement (pairwise): 0.693732193732194

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.4719107162050803
Average Cohen's Kappa (pairwise): 0.46937317582875077
Proportional agreement (pairwise): 0.7722222222222221

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.35806305804668126
Average Cohen's Kappa (pairwise): 0.3581069880082099
Proportional agreement (pairwise): 0.7030555555555554

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.361971503110576
Average Cohen's Kappa (pairwise): 0.3383198700623269
Proportional agreement (pairwise): 0.7011111111111109

{'Krippendorff': 0.361971503110576,
 'Proportional': 0.7011111111111109,
 'Av_Cohens_kappa': 0.3383198700623269}

## Agreement after removing workers or annotations:

In [16]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

df = get_overview(run, batch, n_q, group)
df

Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-contradiction_outliers/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_0/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_above_av/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_failed_checks_1/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-none/aggregated_labels-run4-group_experiment2.csv

,Alpha_full,Alpha_levels,filter,number_pairs,percent_clean,percent_pairs_cont
0,0.326478,0.459174,contradiction_outliers,392,0.923899,0.002551
1,0.404522,0.678767,worker_contradiction_rate_0,384,0.276521,0.000000
2,0.371886,0.459212,worker_contradiction_rate_above_av,392,0.768807,0.000000
3,0.296010,0.425828,worker_failed_checks_1,392,0.930222,0.000000
4,0.293388,0.394700,none,392,1.000000,0.000000

## IAA by relation

In [17]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

,1_Krippendorff,1_Proportional,3_Krippendorff,3_Proportional,4_Krippendorff,4_Proportional,relation
0,0.260459,0.629637,0.259537,0.646077,0.348794,0.677996,implied_category
1,0.367910,0.688961,0.307788,0.711897,0.355592,0.680451,typical_of_concept
2,0.197795,0.602036,0.103467,0.551250,0.200461,0.601097,variability_limited
3,NaN,NaN,0.038257,0.781365,0.002805,0.783409,test_true
4,0.336767,0.697995,0.178122,0.641176,0.457171,0.729576,afforded_usual
5,0.149149,0.671726,0.196397,0.654828,0.319058,0.663054,affording_activity
6,NaN,NaN,0.258187,0.697828,0.410081,0.743143,test_false
7,0.120147,0.560796,0.157012,0.574246,0.240734,0.644582,unusual
8,0.143751,0.580081,0.215107,0.605239,0.169992,0.585053,variability_open
9,0.183925,0.679735,0.133176,0.656011,0.271359,0.735683,impossible
10,0.904637,0.964443,0.607970,0.883546,0.865717,0.948567,_check
11,0.157270,0.578680,NaN,NaN,NaN,NaN,variability_subcategories
12,0.040020,0.525403,0.058862,0.542721,0.105185,0.621819,creative
13,0.108460,0.555869,0.067595,0.542577,0.080060,0.660663,afforded_unusual
14,NaN,NaN,0.129970,0.574512,0.215044,0.648563,rare
15,0.326482,0.682228,0.234555,0.753890,0.282992,0.682812,typical_of_property