# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [1]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from clean_annotations import clean_annotations
from analyze_relations_and_examples import agreement_relations_across_runs

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [29]:
run = 3
batch = 44
n_q = 70
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(afforded_unusual, unusual)","(afforded_unusual, rare)","(implied_category, unusual)",...,"(rare, typical_of_property)","(typical_of_property, unusual)","(afforded_unusual, impossible)","(affording_activity, rare)","(affording_activity, unusual)","(implied_category, impossible)","(affording_activity, impossible)","(afforded_usual, impossible)","(impossible, typical_of_concept)","(impossible, typical_of_property)"
7,5d323affa754dc00018b15cc,78,48,2,0.615385,0.025641,23.297538,3.0,3.0,2.0,...,3.0,3.0,3.0,NaN,NaN,3.0,1.0,3.0,4.0,5.0
1,594ec14a3e9d730001924da6,78,23,1,0.294872,0.012821,9.118192,5.0,4.0,3.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5c697f4575b3d50001b8a537,78,12,2,0.153846,0.025641,3.988846,NaN,1.0,1.0,...,NaN,NaN,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN
6,5d1642dfa80294001e5271c4,78,11,0,0.141026,0.000000,12.098923,2.0,NaN,1.0,...,NaN,NaN,2.0,NaN,NaN,2.0,NaN,3.0,NaN,NaN
0,5887951f5b971900013a03c0,78,10,0,0.128205,0.000000,7.089744,2.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5a6adef80384310001944ba8,78,9,0,0.115385,0.000000,9.538846,4.0,1.0,2.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5e08b611361a851bde3ce928,78,7,0,0.089744,0.000000,17.670000,2.0,2.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5c045c0d5df86a0001971e68,78,5,0,0.064103,0.000000,12.985679,1.0,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5e8a03c98707ab000b65f3bb,78,3,0,0.038462,0.000000,11.481346,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
3,5aff2de2a415960001f26f36,78,1,0,0.012821,0.000000,5.309833,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [30]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[:10]

Discarded 655.0 annotations.

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(afforded_unusual, unusual)","(typical_of_property, unusual)","(implied_category, unusual)",...,"(implied_category, impossible)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(implied_category, rare)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_usual, rare)","(afforded_unusual, rare)","(affording_activity, rare)"
298,5bfed16ca1f050000102693c,74,62,1,0.837838,0.013514,14.382986,3.0,4.0,4.0,...,4.0,NaN,4.0,5.0,3.0,4.0,4.0,4.0,3.0,NaN
428,5c042ba4bb85e60001c05c83,72,47,0,0.652778,0.000000,7.812292,1.0,3.0,5.0,...,3.0,1.0,1.0,2.0,6.0,4.0,3.0,2.0,2.0,3.0
676,5d76a2dc2a476a0001ce6843,72,45,1,0.625000,0.013889,16.482319,NaN,3.0,5.0,...,3.0,2.0,NaN,NaN,5.0,5.0,3.0,NaN,NaN,5.0
343,5e4e86b070e1ed2d6e4e3f62,72,42,1,0.583333,0.013889,4.293264,NaN,5.0,5.0,...,2.0,1.0,NaN,NaN,5.0,4.0,5.0,NaN,NaN,4.0
348,5e7cbbbcf0a5a004b60b48f7,72,41,1,0.569444,0.013889,11.482222,NaN,2.0,1.0,...,4.0,4.0,NaN,NaN,5.0,4.0,6.0,NaN,NaN,6.0
290,5d323affa754dc00018b15cc,150,82,3,0.546667,0.020000,17.685089,6.0,6.0,5.0,...,5.0,1.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,NaN
447,5c1f3a7c10677f0001da2157,72,39,0,0.541667,0.000000,9.921528,3.0,5.0,5.0,...,1.0,1.0,1.0,1.0,3.0,1.0,4.0,1.0,2.0,1.0
241,5c91321c0375460001034cb8,71,38,0,0.535211,0.000000,12.942127,2.0,6.0,6.0,...,4.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,5ddd128c961cb3c6780ff181,72,36,0,0.500000,0.000000,8.403056,2.0,2.0,5.0,...,3.0,2.0,1.0,NaN,4.0,3.0,1.0,NaN,2.0,1.0
670,5e76ab49dec4562243b421f9,72,35,2,0.486111,0.027778,18.781028,NaN,3.0,2.0,...,2.0,3.0,NaN,NaN,2.0,4.0,3.0,NaN,NaN,4.0

In [4]:
# Good workers
#df[-20:]

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [31]:
# copy from above - worker with many disagreements in target batch
worker = '5d323affa754dc00018b15cc'

# df.loc[df['column_name'] == some_value]
df.loc[df['workerid'] == worker]

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(afforded_unusual, unusual)","(typical_of_property, unusual)","(implied_category, unusual)",...,"(implied_category, impossible)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(implied_category, rare)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_usual, rare)","(afforded_unusual, rare)","(affording_activity, rare)"
290,5d323affa754dc00018b15cc,150,82,3,0.546667,0.02,17.685089,6.0,6.0,5.0,...,5.0,1.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [6]:
run = '3'
batch = '44'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,average_time_pair,workers_contradicting,workers_not_contradicting,...,"(afforded_unusual, impossible)","(afforded_usual, impossible)","(implied_category, impossible)","(typical_of_property, unusual)","(impossible, typical_of_concept)","(impossible, typical_of_property)","(rare, typical_of_property)","(affording_activity, rare)","(affording_activity, impossible)","(affording_activity, unusual)"
0,roll-pencil,100,10,42,8,0.8,0.42,87.811580,5887951f5b971900013a03c0 594ec14a3e9d730001924...,5aff2de2a415960001f26f36 5c045c0d5df86a0001971e68,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
6,roll-cart,100,10,25,7,0.7,0.25,87.811580,5887951f5b971900013a03c0 594ec14a3e9d730001924...,5aff2de2a415960001f26f36 5d1642dfa80294001e527...,...,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN
7,roll-pig,100,10,19,8,0.8,0.19,87.811580,5887951f5b971900013a03c0 594ec14a3e9d730001924...,5c045c0d5df86a0001971e68 5e8a03c98707ab000b65f3bb,...,5.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
3,roll-alloy,100,10,16,4,0.4,0.16,87.811580,594ec14a3e9d730001924da6 5a6adef80384310001944...,5887951f5b971900013a03c0 5aff2de2a415960001f26...,...,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
4,roll-marble,100,10,14,4,0.4,0.14,87.811580,594ec14a3e9d730001924da6 5c045c0d5df86a0001971...,5887951f5b971900013a03c0 5a6adef80384310001944...,...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
5,red-mentzelia,100,10,7,2,0.2,0.07,87.811580,5c697f4575b3d50001b8a537 5d323affa754dc00018b15cc,5887951f5b971900013a03c0 594ec14a3e9d730001924...,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0
1,red-yogurt,100,10,6,2,0.2,0.06,87.811580,5c697f4575b3d50001b8a537 5d323affa754dc00018b15cc,5887951f5b971900013a03c0 594ec14a3e9d730001924...,...,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN
2,round-banjo,60,10,0,0,0.0,0.00,146.352633,,5887951f5b971900013a03c0 594ec14a3e9d730001924...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,_check2-_check2,10,10,0,0,0.0,0.00,878.115800,,5887951f5b971900013a03c0 594ec14a3e9d730001924...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,_test3-_test,10,10,0,0,0.0,0.00,878.115800,,5887951f5b971900013a03c0 594ec14a3e9d730001924...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [7]:
worker = '5d323affa754dc00018b15cc'

show_pairs_of_worker(worker, df)

Worker 5d323affa754dc00018b15cc contradicted themselves in the following pairs:

roll-pencil 	 total workers contradicting themselves: 8
roll-cart 	 total workers contradicting themselves: 7
roll-pig 	 total workers contradicting themselves: 8
roll-alloy 	 total workers contradicting themselves: 4
roll-marble 	 total workers contradicting themselves: 4
red-mentzelia 	 total workers contradicting themselves: 2
red-yogurt 	 total workers contradicting themselves: 2

### Compare to entire annotation set

In [8]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 655.0 annotations.

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,average_time_pair,workers_contradicting,workers_not_contradicting,...,"(affording_activity, rare)","(implied_category, rare)","(rare, typical_of_property)","(implied_category, impossible)","(rare, typical_of_concept)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, rare)","(afforded_unusual, rare)","(afforded_usual, impossible)"
227,roll-lamp,50,5,17,4,0.800000,0.340000,85.335380,5acb5910e1546900019c413a 5d3f14f66a8a4e0018c17...,5c5758e9efe1550001dc31b6,...,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0
26,roll-spindle,150,15,48,10,0.666667,0.320000,75.754453,5dc0395f2a1dd64710661ccd 5ddc56fbf290e7bbfa964...,5de6be6912bcf6041b3276ba 589cc7bd8bf22a00015b7...,...,NaN,2.0,3.0,4.0,1.0,NaN,3.0,2.0,2.0,3.0
275,roll-hammer,50,5,16,5,1.000000,0.320000,52.465380,57e131b80cb6700001dd7e5c 5d14abad4d38750001435...,,...,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0
39,roll-nut,50,5,16,5,1.000000,0.320000,53.847560,5a4bf85dac413f0001e6076a 5bfa79fdb8a4c50001b8a...,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,roll-dowel,149,15,45,11,0.733333,0.302013,56.773827,5b281303007d870001c7f24a 5c097af754deae0001ac6...,5cfa90ccd128950001311ed0 5d598dff48766d0001949...,...,NaN,5.0,2.0,2.0,3.0,NaN,NaN,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,round-pilaf,55,6,0,0,0.000000,0.000000,170.509583,,56a5702281a8ca000d3e573e 5c409b3a5daced00018bf...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,round-football,50,5,0,0,0.000000,0.000000,85.898220,,5ad90f90dec767000128a5f4 5aeded8f0ccc2e0001858...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,round-bracelet,35,5,0,0,0.000000,0.000000,150.287029,,5d38b5bc463d580015a05bcc 5dd4189ef30aa640b4e9c...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,red-gorilla,140,14,0,0,0.000000,0.000000,75.016829,,5ad90f90dec767000128a5f4 5aeded8f0ccc2e0001858...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,_check4-_check4,131,131,0,0,0.000000,0.000000,805.574519,,56a80ddfc89737000b22bd61 5b7ebb54ff1109000172a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [9]:
run = '1'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '1'
name2 = '3'
compare_runs(name1, name2, df1, df2, comp = 'all')
print()
compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run1-group_experiment1-batch-all-.csv
Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Set 1 as a contradiction ratio of 0.26912294753704447
Set 3 as a contradiction ratio of 0.22118685630210888
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

Set 1 as a contradiction ratio of 0.24560496380558428
Set 3 as a contradiction ratio of 0.24437030859049208
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.
This analysis only includes pairs annotated in run 1 and run 3.

(0.24560496380558428, 0.24437030859049208)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [10]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '1'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run 3:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23796404643499403
Proportional agreement (pairwise): 0.633336512685137

Run 1:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2413329996998821
Proportional agreement (pairwise): 0.6204625909422005

{'Krippendorff': 0.2413329996998821, 'Proportional': 0.6204625909422005}

## IAA of collapsed relations

In [13]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

collapse_relations = 'pos_neg'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'levels'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'similar_relations'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)


run = '1'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
collapse_relations = 'pos_neg'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'levels'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'similar_relations'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

Run 3:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23796404643499403
Proportional agreement (pairwise): 0.633336512685137

collapsing pos_neg
pos_neg
Krippendorff's alpha: 0.13134206717324648
Proportional agreement (pairwise): 0.5838209317324272

collapsing levels
levels
Krippendorff's alpha: 0.18593961267623837
Proportional agreement (pairwise): 0.5886210164846373

collapsing similar_relations
similar_relations
Krippendorff's alpha: 0.22665263372703337
Proportional agreement (pairwise): 0.640599148345873

Run 1:
Discarded 0.0 annotations.
collapsing pos_neg
pos_neg
Krippendorff's alpha: 0.16756939242308677
Proportional agreement (pairwise): 0.5759980191358617

collapsing levels
levels
Krippendorff's alpha: 0.20455848112125752
Proportional agreement (pairwise): 0.582823814823261

collapsing similar_relations
similar_relations
Krippendorff's alpha: 0.24340570835907704
Proportional agreement (pairwise): 0.6233640269121777

{'Krippendorff': 0.24340570835907704, 'Proportional': 0.6233640269121777}

## IAA by relation

In [11]:
runs = ['3', '1']
experiment_name = 'experiment1'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs3-1.csv

,relation,3_Krippendorff,3_Proportional,1_Krippendorff,1_Proportional
0,rare,0.162885,0.596243,NaN,NaN
1,_check,0.643894,0.894828,0.904637,0.964443
2,impossible,0.143642,0.675566,0.183925,0.679565
3,afforded_unusual,0.035775,0.525967,0.108460,0.557623
4,afforded_usual,0.181940,0.660557,0.336767,0.698580
5,test_true,0.080396,0.813115,NaN,NaN
6,test_false,0.106607,0.767095,NaN,NaN
7,creative,0.065253,0.557281,0.040020,0.524894
8,variability_subcategories,NaN,NaN,0.157270,0.579637
9,unusual,0.171452,0.584685,0.120147,0.561644
10,typical_of_property,0.252850,0.770219,0.326482,0.682547
11,variability_open,0.216772,0.607166,0.143751,0.580081
12,implied_category,0.273568,0.659212,0.260459,0.629956
13,variability_limited,0.120893,0.562074,0.197795,0.599990
14,affording_activity,0.194360,0.653146,0.149149,0.672259
15,typical_of_concept,0.332461,0.716034,0.367910,0.689440

## Agreement after removing workers or annotations:

In [12]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

print('Total Agreement')
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
print('-------')
print()

print('Removing pairs with many contradictions:')
category = 'pairs_contradictions'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)


category = 'worker_contradictions'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)
print()

category = 'worker_checks'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)

Total Agreement
Discarded 655.0 annotations.
Krippendorff's alpha: 0.2463725697540442
Proportional agreement (pairwise): 0.6385114873424212

-------

Removing pairs with many contradictions:
analyze pairs_contradictions
Discarded 655.0 annotations.
Found 21467 clean annotations.
Round 7670 to remove.

agreement clean
Krippendorff's alpha: 0.34022524272587773
Proportional agreement (pairwise): 0.6873914995739058

analyze worker_contradictions
Discarded 655.0 annotations.
Found 18983 clean annotations.
Round 10100 to remove.

agreement clean
Krippendorff's alpha: 0.2736523689712784
Proportional agreement (pairwise): 0.6619245304424161


analyze worker_checks
Discarded 655.0 annotations.
Found 26554 clean annotations.
Round 2529 to remove.

agreement clean
Krippendorff's alpha: 0.26865514911812405
Proportional agreement (pairwise): 0.6499509093252589

{'Krippendorff': 0.26865514911812405, 'Proportional': 0.6499509093252589}