# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [1]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from clean_annotations import clean_annotations
from analyze_relations_and_examples import agreement_relations_across_runs

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [2]:
run = 4
batch = 7
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,fail_annotation_ratio,contradictory_pairs_ratio,average_time_question,...,"(afforded_usual, rare)","(implied_category, impossible)","(affording_activity, impossible)","(impossible, typical_of_concept)","(impossible, typical_of_property)","(rare, typical_of_property)","(typical_of_property, unusual)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)"
5,5d977727646bb70012d6ea5b,76,28,1,0.368421,90,0.311111,0.013158,0.7,3.141737,...,1.0,3.0,1.0,2.0,3.0,2.0,1.0,NaN,NaN,NaN
9,5e9f15b5c6681408668da700,76,16,0,0.210526,90,0.177778,0.000000,0.2,9.010566,...,1.0,NaN,NaN,1.0,1.0,2.0,1.0,1.0,1.0,1.0
7,5dd6a775e426bd627cb2a7f3,76,11,0,0.144737,90,0.122222,0.000000,0.4,17.258803,...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN
4,5d0e3ed32d40560018fe1bde,76,8,1,0.105263,90,0.088889,0.013158,0.2,14.178803,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5dd96ebccf8e7e8fb2261249,76,8,0,0.105263,90,0.088889,0.000000,0.2,6.907750,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
6,5dc31fee3bc5e723dd5fe46a,76,5,1,0.065789,90,0.055556,0.013158,0.2,13.051776,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN
1,5c61c8faedba6100016505b9,76,3,2,0.039474,90,0.033333,0.026316,0.2,7.920658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,5c2e82582fe63c0001c40448,76,0,0,0.000000,90,0.000000,0.000000,0.0,13.232092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5c900d755c6c02001669786b,76,0,0,0.000000,90,0.000000,0.000000,0.0,8.118842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ca87fb236a495001765efef,76,0,0,0.000000,90,0.000000,0.000000,0.0,7.353211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [16]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[:20]

Discarded 0.0 annotations.

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,fail_annotation_ratio,contradictory_pairs_ratio,average_time_question,...,"(rare, typical_of_concept)","(rare, typical_of_property)","(affording_activity, impossible)","(impossible, typical_of_concept)","(afforded_usual, impossible)","(implied_category, impossible)","(impossible, typical_of_property)","(afforded_usual, unusual)","(afforded_usual, rare)","(afforded_unusual, rare)"
54,5e67c6324ddf7c0672301133,72,33,0,0.458333,90,0.366667,0.000000,0.666667,20.669889,...,1.0,2.0,2.0,1.0,2.0,3.0,2.0,2.0,2.0,1.0
40,55b24072fdf99b2462d7d259,72,27,0,0.375000,84,0.321429,0.000000,0.666667,12.016708,...,2.0,1.0,3.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN
65,5e7d04851ae8680b7c88e7e4,72,24,1,0.333333,78,0.307692,0.013889,0.400000,13.606750,...,3.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN
15,5d977727646bb70012d6ea5b,148,42,2,0.283784,168,0.250000,0.013514,0.600000,5.277313,...,2.0,3.0,1.0,2.0,2.0,3.0,3.0,1.0,1.0,NaN
51,59f709c1b47dfc0001b65fc9,72,22,1,0.305556,90,0.244444,0.013889,0.666667,8.995847,...,4.0,3.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN
9,5ea0cab850c77d0d40fa0768,72,21,2,0.291667,87,0.241379,0.027778,0.777778,5.428792,...,1.0,NaN,3.0,4.0,1.0,3.0,1.0,NaN,NaN,NaN
29,5ea0365fcbadb50008e19aff,78,16,1,0.205128,90,0.177778,0.012821,0.500000,4.812795,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,2.0
19,5e9f15b5c6681408668da700,76,16,0,0.210526,90,0.177778,0.000000,0.200000,9.010566,...,2.0,2.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0
3,5be0b3d439bd3f000110d652,72,14,1,0.194444,87,0.160920,0.013889,0.333333,5.673389,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,5b8f9a9d8830c60001dc3aee,76,14,0,0.184211,90,0.155556,0.000000,0.600000,11.408934,...,3.0,3.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN
63,5e66c749fd0e5b454700f10f,72,11,1,0.152778,78,0.141026,0.013889,0.300000,10.719486,...,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
17,5dd6a775e426bd627cb2a7f3,76,11,0,0.144737,90,0.122222,0.000000,0.400000,17.258803,...,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
37,5ea06d72b92a6d02bdbb9de5,76,10,0,0.131579,90,0.111111,0.000000,0.300000,29.895039,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
60,58ac3822890ea500014c665d,72,8,1,0.111111,78,0.102564,0.013889,0.300000,24.351819,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
53,5d6f2636095e0f0018f46d44,72,9,1,0.125000,90,0.100000,0.013889,0.222222,11.121028,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,5ac4da5d68b65b00018d52f4,78,9,1,0.115385,90,0.100000,0.012821,0.200000,17.185564,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
44,59a42dd68d2b1600011b407d,72,8,0,0.111111,84,0.095238,0.000000,0.333333,15.128681,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
52,5bef3578955d3200017c154a,72,8,1,0.111111,90,0.088889,0.013889,0.333333,16.797736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5dd96ebccf8e7e8fb2261249,76,8,0,0.105263,90,0.088889,0.000000,0.200000,6.907750,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,5c430039e972300001ac04f3,76,8,0,0.105263,90,0.088889,0.000000,0.200000,14.239658,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Good workers
df_total[-20:]

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,fail_annotation_ratio,contradictory_pairs_ratio,average_time_question,...,"(rare, typical_of_concept)","(rare, typical_of_property)","(affording_activity, impossible)","(impossible, typical_of_concept)","(afforded_usual, impossible)","(implied_category, impossible)","(impossible, typical_of_property)","(afforded_unusual, rare)","(afforded_usual, rare)","(afforded_usual, unusual)"
71,5d430e89be616d0015f784e8,71,0,0,0.0,58,0.0,0.000000,0.0,8.678676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,5dee62c0770a434f62147de2,76,0,0,0.0,84,0.0,0.000000,0.0,8.971500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,5c036f34efea06000188cdba,8,0,0,0.0,0,0.0,0.000000,0.0,10.544000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,5c62a91524035400014b69dc,78,0,0,0.0,84,0.0,0.000000,0.0,6.654244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,5c3de869b3369c0001a9264a,8,0,0,0.0,0,0.0,0.000000,0.0,22.931875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,5cb62e72ebe8a50001a9b7c8,78,0,1,0.0,84,0.0,0.012821,0.0,5.071128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,5c8250c026a0940016b265da,8,0,0,0.0,0,0.0,0.000000,0.0,83.982125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,5dd7abaaaf16d3746667182c,78,0,0,0.0,84,0.0,0.000000,0.0,9.759564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,5ceac282ca3e100016373e3c,71,0,0,0.0,66,0.0,0.000000,0.0,10.510493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,5a22e6aabf56cc00017701ef,71,0,0,0.0,66,0.0,0.000000,0.0,5.570915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,5de93ba177443804fea65939,8,0,0,0.0,0,0.0,0.000000,0.0,10.269000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,597fa2d8fc90e000011c586d,68,0,0,0.0,72,0.0,0.000000,0.0,8.560044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5b2838e8b1cd750001498ba9,68,0,0,0.0,72,0.0,0.000000,0.0,6.909279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,5a0feb37df3fa800015c432a,78,0,0,0.0,56,0.0,0.000000,0.0,10.343346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5dd6ccc58cf2f966166c0399,68,0,0,0.0,72,0.0,0.000000,0.0,5.710118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,5c41f300b96aae0001e75848,71,0,0,0.0,66,0.0,0.000000,0.0,16.126155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,5dad7f29033d57001357a2b8,71,0,0,0.0,52,0.0,0.000000,0.0,11.930225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,5c5b333a2b7de10001b78759,78,0,0,0.0,60,0.0,0.000000,0.0,11.800962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,5e6c075b1689b01da3b62993,68,0,0,0.0,72,0.0,0.000000,0.0,9.027721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,5cd574ebf1dc7600185cc0a4,71,0,0,0.0,60,0.0,0.000000,0.0,16.699577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [4]:
# copy from above - worker with many disagreements in target batch
worker = '5d977727646bb70012d6ea5b'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,fail_annotation_ratio,contradictory_pairs_ratio,average_time_question,...,"(rare, typical_of_concept)","(rare, typical_of_property)","(affording_activity, impossible)","(impossible, typical_of_concept)","(afforded_usual, impossible)","(implied_category, impossible)","(impossible, typical_of_property)","(afforded_usual, unusual)","(afforded_usual, rare)","(afforded_unusual, rare)"
15,5d977727646bb70012d6ea5b,148,42,2,0.283784,168,0.25,0.013514,0.6,5.277313,...,2.0,3.0,1.0,2.0,2.0,3.0,3.0,1.0,1.0,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [5]:
run = '4'
batch = '7'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,average_time_pair,...,"(affording_activity, rare)","(implied_category, impossible)","(affording_activity, impossible)","(typical_of_property, unusual)","(rare, typical_of_property)","(impossible, typical_of_concept)","(impossible, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)"
5,fly-duck,100,10,22,6,0.6,0.22,150,0.146667,76.13242,...,NaN,1.0,NaN,1.0,1.0,2.0,2.0,3.0,1.0,1.0
3,black-ladybird,100,10,26,5,0.5,0.26,120,0.216667,76.13242,...,5.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
7,hot-kettle,100,10,13,3,0.3,0.13,120,0.108333,76.13242,...,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN
0,lay_eggs-hare,100,10,4,2,0.2,0.04,150,0.026667,76.13242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sweet-lentil,100,10,2,2,0.2,0.02,120,0.016667,76.13242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,dangerous-bill,100,10,10,2,0.2,0.10,120,0.083333,76.13242,...,1.0,2.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
4,wheels-pedicab,100,10,2,1,0.1,0.02,120,0.016667,76.13242,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
1,yellow-kingfisher,40,10,0,0,0.0,0.00,0,0.000000,190.33105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,_check4-_check4,10,10,0,0,0.0,0.00,0,0.000000,761.32420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,_test3-_test,10,10,0,0,0.0,0.00,0,0.000000,761.32420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [7]:
worker = '5d977727646bb70012d6ea5b'

show_pairs_of_worker(worker, df)

Worker 5d977727646bb70012d6ea5b contradicted themselves in the following pairs:

fly-duck 	 total workers contradicting themselves: 6
black-ladybird 	 total workers contradicting themselves: 5
hot-kettle 	 total workers contradicting themselves: 3
lay_eggs-hare 	 total workers contradicting themselves: 2
sweet-lentil 	 total workers contradicting themselves: 2
dangerous-bill 	 total workers contradicting themselves: 2
wheels-pedicab 	 total workers contradicting themselves: 1

### Compare to entire annotation set

In [8]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,n_possible_contradictions,contradiction_poss_contradiction_ratio,average_time_pair,...,"(afforded_usual, impossible)","(typical_of_property, unusual)","(implied_category, rare)","(implied_category, impossible)","(rare, typical_of_concept)","(rare, typical_of_property)","(impossible, typical_of_property)","(afforded_usual, rare)","(afforded_usual, unusual)","(afforded_unusual, rare)"
14,fly-duck,100,10,22,6,0.6,0.220000,150,0.146667,76.132420,...,2.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0
21,fly-pelican,100,10,20,5,0.5,0.200000,150,0.133333,120.664810,...,NaN,NaN,2.0,NaN,2.0,NaN,NaN,1.0,2.0,4.0
12,black-ladybird,100,10,26,5,0.5,0.260000,120,0.216667,76.132420,...,NaN,1.0,4.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN
34,lay_eggs-whiteface,100,10,9,4,0.4,0.090000,150,0.060000,91.739940,...,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0
59,black-pipefish,102,10,14,4,0.4,0.137255,120,0.116667,123.943395,...,NaN,2.0,3.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,wheels-carriage,60,10,0,0,0.0,0.000000,0,0.000000,209.469983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,_test3-_test,20,20,0,0,0.0,0.000000,0,0.000000,798.360750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,yellow-vanilla,40,10,0,0,0.0,0.000000,0,0.000000,314.204975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,yellow-flame,40,10,0,0,0.0,0.000000,0,0.000000,229.349850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,_check2-_check2,10,10,0,0,0.0,0.000000,0,0.000000,1096.977100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# check specific pair:

pair = 'red-lipstick'
df.loc[df['pair'] == pair]

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,average_time_pair,workers_contradicting,workers_not_contradicting,...,"(affording_activity, unusual)","(rare, typical_of_concept)","(rare, typical_of_property)","(implied_category, rare)","(implied_category, impossible)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, rare)","(afforded_unusual, rare)","(afforded_usual, impossible)"
305,red-lipstick,50,5,7,2,0.4,0.14,59.799,57617fdb1a5ecc0006fc3860 5ddc0d87d3ac2ad102aff2b9,59dc2e2016ecc200016fea95 5c544985be9cd80001156...,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [9]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.18385650224215247
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.18385650224215247)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [10]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23567624334318582
Proportional agreement (pairwise): 0.6233819990832739

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.24331156714380575
Proportional agreement (pairwise): 0.6439840821153944

{'Krippendorff': 0.24331156714380575, 'Proportional': 0.6439840821153944}

## IAA of collapsed relations

In [11]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

collapse_relations = 'pos_neg'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'levels'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'similar_relations'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)


run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

collapse_relations = 'pos_neg'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'levels'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

collapse_relations = 'similar_relations'
print(f'collapsing {collapse_relations}')
get_agreement(data_dict_list, collapse_relations = collapse_relations)

Run *:
Discarded 655.0 annotations.
Krippendorff's alpha: 0.23567624334318582
Proportional agreement (pairwise): 0.6233819990832739

collapsing pos_neg
pos_neg
Krippendorff's alpha: 0.3348903198600117
Proportional agreement (pairwise): 0.7902502664705034

collapsing levels
levels
Krippendorff's alpha: 0.3555916355102202
Proportional agreement (pairwise): 0.7038679436637708

collapsing similar_relations
similar_relations
Krippendorff's alpha: 0.37526324080891615
Proportional agreement (pairwise): 0.6967938704580102

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.24331156714380575
Proportional agreement (pairwise): 0.6439840821153944

collapsing pos_neg
pos_neg
Krippendorff's alpha: 0.3764328742544003
Proportional agreement (pairwise): 0.7388716430716862

collapsing levels
levels
Krippendorff's alpha: 0.4284301018952551
Proportional agreement (pairwise): 0.7190825344289564

collapsing similar_relations
similar_relations
Krippendorff's alpha: 0.3828357397986598
Proportional agreement (pairwise): 0.7068838305039297

{'Krippendorff': 0.3828357397986598, 'Proportional': 0.7068838305039297}

## IAA by relation

In [12]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

,relation,4_Krippendorff,4_Proportional,3_Krippendorff,3_Proportional,1_Krippendorff,1_Proportional
0,test_false,0.362976,0.782759,0.258187,0.702768,NaN,NaN
1,unusual,0.167834,0.600436,0.157012,0.575154,0.120147,0.561644
2,affording_activity,0.307648,0.655271,0.196397,0.655055,0.149149,0.672259
3,variability_limited,0.153936,0.579111,0.103467,0.552040,0.197795,0.599990
4,test_true,-0.036387,0.653801,0.038257,0.784144,NaN,NaN
5,implied_category,0.273519,0.644889,0.259537,0.646734,0.260459,0.629956
6,creative,0.028293,0.612200,0.058862,0.543404,0.040020,0.524894
7,variability_open,0.078771,0.541311,0.215107,0.606619,0.143751,0.580081
8,variability_subcategories,NaN,NaN,NaN,NaN,0.157270,0.579637
9,typical_of_concept,0.340292,0.686667,0.307788,0.711133,0.367910,0.689440
10,rare,0.202786,0.635413,0.129970,0.575412,NaN,NaN
11,afforded_usual,0.314783,0.670707,0.178122,0.638630,0.336767,0.698580
12,impossible,0.237192,0.708338,0.133176,0.657081,0.183925,0.679565
13,_check,0.794439,0.932895,0.607970,0.885378,0.904637,0.964443
14,afforded_unusual,0.201981,0.725253,0.067595,0.542798,0.108460,0.557623
15,typical_of_property,0.237862,0.703677,0.234555,0.753711,0.326482,0.682547

## Agreement after removing workers or annotations:

In [17]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

print('Total Agreement')
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
print('-------')
print()

print('Removing pair annotations with many contradictions:')
category = 'pairs_contradictions'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)


category = 'worker_contradictions'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)
print()

category = 'worker_checks'
print(f'analyze {category}')
annotations_clean, annotations_removed = clean_annotations(run, group, n_q, batch, category)
print('agreement clean')
get_agreement(annotations_clean)
#print('agreement rest')
#get_agreement(annotations_removed)

Total Agreement
Discarded 0.0 annotations.
Krippendorff's alpha: 0.24331156714380575
Proportional agreement (pairwise): 0.6439840821153944

-------

Removing pair annotations with many contradictions:
analyze pairs_contradictions
Discarded 0.0 annotations.
Found 3954 clean annotations.
Round 1244 to remove.

agreement clean
Krippendorff's alpha: 0.36842760127822893
Proportional agreement (pairwise): 0.7221461435782347

analyze worker_contradictions
Discarded 0.0 annotations.
Found 1702 clean annotations.
Round 3483 to remove.

agreement clean
Krippendorff's alpha: 0.3946378584309531
Proportional agreement (pairwise): 0.7430555555555555


analyze worker_checks
Discarded 0.0 annotations.
Found 3046 clean annotations.
Round 2139 to remove.

agreement clean
Krippendorff's alpha: 0.25698473394280263
Proportional agreement (pairwise): 0.5550874255952379

{'Krippendorff': 0.25698473394280263, 'Proportional': 0.5550874255952379}