# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [11]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis, get_worker_contradiction_outlier_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from analyze_relations_and_examples import agreement_relations_across_runs
from aggregate_labels import get_overview

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [14]:
run = 4
batch = 58
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails', 'n_annotations']]

creating file with uuid run4-group_experiment2/qu70-s_qu70-batch58.csv
added unique ids - file can be found at: ../data/prolific_output_uuid/run4-group_experiment2/qu70-s_qu70-batch58.csv
Discarded 0.0 annotations.

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails,n_annotations
7,5e33190a5a41122e93c40989,0.066667,6,1,72
9,5ea0a51b1c8b440887f8feb0,0.066667,6,0,72
1,5b898d8abca3400001fa7c7b,0.044444,4,0,72
8,5e9cfd9cee0aed225ed1c501,0.044444,4,0,72
2,5cb62e72ebe8a50001a9b7c8,0.022222,2,0,72
4,5de631043cf27959fe70269c,0.022222,2,0,72
5,5e15baff6887bcbb5425280d,0.011111,1,0,72
0,59d9395703203500011acfcd,0.000000,0,0,72
3,5cb653e0e9187600014da063,0.000000,0,0,72
6,5e196bcd49c6aa210ea6aaad,0.000000,0,0,72

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [18]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
analysis_type = 'workers'
df_outliers = get_worker_contradiction_outlier_analysis(analysis_type, run, group, batch)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][:10]

Discarded 655.0 annotations.
Results written to: ../analyses/workers-outliers/run-all--group_experiment-all--batch-all-.csv

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
134,5c2c7eae8a20f50001e9a8c0,0.770115,67,0
622,5bfed16ca1f050000102693c,0.712644,62,1
841,5d6ef000391fb4001a97337d,0.696970,69,1
1060,111,0.650000,39,0
569,5c91321c0375460001034cb8,0.633333,38,0
108,5e8115962b00617ffc1b04ad,0.633333,57,0
1024,5d76a2dc2a476a0001ce6843,0.625000,45,1
627,5e2f554c4c58fa515ad361d0,0.600000,3,0
96,5e8cffa6f387850d0476f30a,0.576923,45,0
743,5e87276d17cdf1028850af59,0.529412,54,1

In [5]:
# Good workers
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][-20:]

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
831,5c63291ef256940001ca71bd,0.0,0,0
832,5d034f7733bb360017370b87,0.0,0,0
612,5a82ca84000dab00018c85cf,0.0,0,0
611,56b8dc21e1d0a2000c15d4b7,0.0,0,0
871,5c8fe91371f3100016181dfd,0.0,0,0
839,5aba21b11667e40001d7e636,0.0,0,0
122,5de94617c977a603040fb476,0.0,0,0
121,5dc9a8c72e81ea87179e0f55,0.0,0,0
847,5b02fe323bc9af0001909bc5,0.0,0,0
118,5ea0a51b1c8b440887f8feb0,0.0,0,1
849,5ca92e4aa110d9001971fd0a,0.0,0,0
316,5c41f300b96aae0001e75848,0.0,0,0
318,5ceac282ca3e100016373e3c,0.0,0,0
114,5aae93f5fb22320001baaaac,0.0,0,0
113,5ea693e4c7977b01157ba82c,0.0,0,1
484,5c506148bfe6820001309a06,0.0,0,0
322,5d430e89be616d0015f784e8,0.0,0,0
498,5ba4c797b5079e0001e3cb1d,0.0,0,1
340,5a283ba153fc4b00014150ba,0.0,0,0
170,5eb13fb1282a7720b4457279,0.0,0,0

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [4]:
# copy from above - worker with many disagreements in target batch
worker = '5dc1f283fc1cda15c5015611'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,average_time_question,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,contradictory_pairs_ratio,fail_annotation_ratio,n_annotations,n_contradictions,n_fails,n_possible_contradictions,workerid,...,"(affording_activity, rare)","(typical_of_property, unusual)","(rare, typical_of_property)","(typical_of_concept, unusual)","(rare, typical_of_concept)","(impossible, typical_of_property)","(affording_activity, impossible)","(afforded_usual, impossible)","(impossible, typical_of_concept)","(implied_category, impossible)"
60,4.12106,0.197368,0.196078,0.380952,0.006579,152,30,1,153,5dc1f283fc1cda15c5015611,...,0.013072,0.026144,0.019608,0.019608,0.019608,0.019608,0.006536,NaN,0.013072,0.013072

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [5]:
run = '4'
batch = '53'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,workers_contradicting,workers_not_contradicting,"(afforded_usual, impossible)","(afforded_unusual, rare)","(implied_category, rare)","(rare, typical_of_concept)","(afforded_usual, rare)"
4,67.997630,0.05,0.033333,100,5,150,10,2,lay_eggs-fringillidae,0.2,5b2aa3dbc293b900017330cd 5ba85a9d032d360001b83177,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,1.0,2.0,1.0,1.0
1,67.997630,0.01,0.006667,100,1,150,10,1,fly-gnu,0.1,5c8d061ec28618001584dea7,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,1.0,NaN,NaN,NaN,NaN
0,67.997630,0.00,0.000000,100,0,120,10,0,square-kitchenette,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
2,67.997630,0.00,0.000000,100,0,120,10,0,made_of_wood-clock,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
3,67.997630,0.00,0.000000,100,0,120,10,0,sweet-pepperoni,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
5,67.997630,0.00,0.000000,100,0,120,10,0,dangerous-thief,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
6,113.329383,0.00,0.000000,60,0,0,10,0,yellow-crane,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
7,67.997630,0.00,0.000000,100,0,120,10,0,hot-spiciness,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
8,679.976300,0.00,0.000000,10,0,0,10,0,_check4-_check4,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN
9,679.976300,0.00,0.000000,10,0,0,10,0,_test1-_test1,0.0,,56e0246fa3b147000ac579f3 59a0521a6da1d30001c31...,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [5]:
worker = '5dc1f283fc1cda15c5015611'

show_pairs_of_worker(worker, df)

Worker 5dc1f283fc1cda15c5015611 contradicted themselves in the following pairs:

### Compare to entire annotation set

In [6]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df[:10]

Discarded 655.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(affording_activity, unusual)","(afforded_usual, unusual)","(afforded_usual, rare)","(affording_activity, rare)","(rare, typical_of_property)","(affording_activity, impossible)","(impossible, typical_of_property)","(implied_category, impossible)","(impossible, typical_of_concept)","(afforded_usual, impossible)"
793,91.487260,0.206667,0.155,150,31,200,15,14,roll-bucket,0.933333,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN
724,67.068860,0.180000,0.135,150,27,200,15,13,roll-glass,0.866667,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,74.643380,0.146667,0.110,150,22,200,15,13,roll-tray,0.866667,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
460,50.681993,0.299363,0.235,157,47,200,15,13,roll-nut,0.866667,...,NaN,4.0,1.0,NaN,NaN,NaN,1.0,2.0,2.0,2.0
446,83.456113,0.226667,0.170,150,34,200,15,12,roll-ferrule,0.800000,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,3.0,NaN,1.0
651,62.036720,0.293333,0.220,150,44,200,15,12,roll-bolt,0.800000,...,NaN,4.0,3.0,NaN,2.0,NaN,2.0,1.0,1.0,2.0
164,70.416410,0.300000,0.250,100,30,120,10,8,dangerous-pusher,0.800000,...,5.0,NaN,NaN,2.0,1.0,3.0,3.0,1.0,2.0,NaN
695,68.401000,0.233333,0.175,150,35,200,15,12,roll-hammer,0.800000,...,NaN,1.0,NaN,NaN,NaN,NaN,3.0,2.0,1.0,2.0
747,77.292245,0.235669,0.185,157,37,200,15,12,roll-peg,0.800000,...,NaN,2.0,3.0,NaN,1.0,NaN,NaN,2.0,1.0,2.0
655,81.443980,0.240000,0.180,150,36,200,15,12,roll-car,0.800000,...,NaN,2.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,1.0

In [9]:
# check specific pair:

pair = 'red-lipstick'
df.loc[df['pair'] == pair]

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(impossible, typical_of_concept)","(implied_category, impossible)","(impossible, typical_of_property)","(affording_activity, impossible)","(afforded_usual, rare)","(afforded_usual, impossible)","(afforded_usual, unusual)","(afforded_unusual, impossible)","(afforded_unusual, rare)","(afforded_unusual, unusual)"
414,56.3701,0.113333,0.10625,150,17,160,15,4,red-lipstick,0.266667,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [7]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.1405940594059406
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.1405940594059406)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [3]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'
print(f"Run {run}, all experiment groups:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
#get_agreement(data_dict_list)

run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *, all experiment groups:
Discarded 655.0 annotations.
Run *:
Discarded 655.0 annotations.

/Users/piasommerauer/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:576: RuntimeWarning: invalid value encountered in true_divide
  k = np.sum(w_mat * confusion) / np.sum(w_mat * expected)

Krippendorff's alpha: 0.23567624334318582
Average Cohen's Kappa (pairwise): 0.2284037437526144
Proportional agreement (pairwise): 0.6230672746100898

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.30278268796797037
Average Cohen's Kappa (pairwise): 0.30118255383793857
Proportional agreement (pairwise): 0.6638001805682666

{'Krippendorff': 0.30278268796797037,
 'Proportional': 0.6638001805682666,
 'Av_Cohens_kappa': 0.30118255383793857}

In [4]:
# Run 4 see if selecting good workers helps agreement:

# no whitelist
run = '4'
batch = '22'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '27'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '28'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '29'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '40'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '41'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '42'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '43'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '44'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '45'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '46'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '47'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '48'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '49'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.18020235842298782
Average Cohen's Kappa (pairwise): 0.20256580834102747
Proportional agreement (pairwise): 0.6002849002849003

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36094682230869035
Average Cohen's Kappa (pairwise): 0.3567475052361654
Proportional agreement (pairwise): 0.7078078078078076

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38306989982331197
Average Cohen's Kappa (pairwise): 0.38816630417456993
Proportional agreement (pairwise): 0.732456140350877

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.27779308118876944
Average Cohen's Kappa (pairwise): 0.2813174663604737
Proportional agreement (pairwise): 0.6657407407407409

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.28576527457959255
Average Cohen's Kappa (pairwise): 0.2876034326541763
Proportional agreement (pairwise): 0.6632716049382716

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2768403864897817
Average Cohen's Kappa (pairwise): 0.2781291987090819
Proportional agreement (pairwise): 0.6587719298245616

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38854530410759147
Average Cohen's Kappa (pairwise): 0.38876532184706114
Proportional agreement (pairwise): 0.6987987987987986

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3684756150950007
Average Cohen's Kappa (pairwise): 0.37126492348331763
Proportional agreement (pairwise): 0.7069069069069067

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3045833639053982
Average Cohen's Kappa (pairwise): 0.30512979568179693
Proportional agreement (pairwise): 0.6672364672364673

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3862504409171078
Average Cohen's Kappa (pairwise): 0.39067801043143063
Proportional agreement (pairwise): 0.7012345679012345

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2779135225775543
Average Cohen's Kappa (pairwise): 0.284282081004632
Proportional agreement (pairwise): 0.6545454545454547

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3613558843684369
Average Cohen's Kappa (pairwise): 0.3630357844186837
Proportional agreement (pairwise): 0.7163580246913579

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.31568332789916853
Average Cohen's Kappa (pairwise): 0.31685821598196134
Proportional agreement (pairwise): 0.693732193732194

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.24436052986980383
Average Cohen's Kappa (pairwise): 0.2584066060091593
Proportional agreement (pairwise): 0.6495726495726496

{'Krippendorff': 0.24436052986980383,
 'Proportional': 0.6495726495726496,
 'Av_Cohens_kappa': 0.2584066060091593}

## Agreement after removing workers or annotations:

In [16]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

df = get_overview(run, batch, n_q, group)
df

Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-contradiction_outliers/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_0/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_contradiction_rate_above_av/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-worker_failed_checks_1/aggregated_labels-run4-group_experiment2.csv
Discarded 0.0 annotations.
Aggregated labels written to: ../aggregated_labels/annotation_filter-none/aggregated_labels-run4-group_experiment2.csv

,Alpha_full,Alpha_levels,filter,number_pairs,percent_clean,percent_pairs_cont
0,0.326478,0.459174,contradiction_outliers,392,0.923899,0.002551
1,0.404522,0.678767,worker_contradiction_rate_0,384,0.276521,0.000000
2,0.371886,0.459212,worker_contradiction_rate_above_av,392,0.768807,0.000000
3,0.296010,0.425828,worker_failed_checks_1,392,0.930222,0.000000
4,0.293388,0.394700,none,392,1.000000,0.000000

## IAA by relation

In [17]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

,1_Krippendorff,1_Proportional,3_Krippendorff,3_Proportional,4_Krippendorff,4_Proportional,relation
0,0.260459,0.629637,0.259537,0.646077,0.348794,0.677996,implied_category
1,0.367910,0.688961,0.307788,0.711897,0.355592,0.680451,typical_of_concept
2,0.197795,0.602036,0.103467,0.551250,0.200461,0.601097,variability_limited
3,NaN,NaN,0.038257,0.781365,0.002805,0.783409,test_true
4,0.336767,0.697995,0.178122,0.641176,0.457171,0.729576,afforded_usual
5,0.149149,0.671726,0.196397,0.654828,0.319058,0.663054,affording_activity
6,NaN,NaN,0.258187,0.697828,0.410081,0.743143,test_false
7,0.120147,0.560796,0.157012,0.574246,0.240734,0.644582,unusual
8,0.143751,0.580081,0.215107,0.605239,0.169992,0.585053,variability_open
9,0.183925,0.679735,0.133176,0.656011,0.271359,0.735683,impossible
10,0.904637,0.964443,0.607970,0.883546,0.865717,0.948567,_check
11,0.157270,0.578680,NaN,NaN,NaN,NaN,variability_subcategories
12,0.040020,0.525403,0.058862,0.542721,0.105185,0.621819,creative
13,0.108460,0.555869,0.067595,0.542577,0.080060,0.660663,afforded_unusual
14,NaN,NaN,0.129970,0.574512,0.215044,0.648563,rare
15,0.326482,0.682228,0.234555,0.753890,0.282992,0.682812,typical_of_property