## Best way to clean dataset:
    
unit: pair 

number of stds as threshold: 0.5

number of annotations:

total: 145935 
remaining: 125390 (0.8592181450645835)


IAA:
total: 0.3620784770469727 
level of pairs: 0.5934617635269503

In [1]:
from load_data import load_experiment_data
from utils_analysis import sort_by_key
from clean_annotations import remove_contradicting_workers
from utils_analysis import load_analysis
from aggregate_labels import get_top_labels
from calculate_iaa import load_rel_level_mapping
from collections import defaultdict, Counter

In [12]:
def get_pair_table(pair_label_dicts, aggregation = 'top_levels'):
    
    all_levels = set([d[aggregation] for d in pair_label_dicts])
    
    prop_pair_dict = defaultdict(list)
    for pd in pair_label_dicts:
        pair = pd['pair'].strip()
        prop = pair.split('-')[0].strip()
        prop_pair_dict[prop].append(pd)
        
    prop_dicts = []
    
    for prop, pds in prop_pair_dict.items():
        level_counts = dict()
        levels = [d['top_levels'] for d in pds]
        prop_dict = dict()
        total = 0
        prop_dict['property'] = prop
        for l in all_levels:
            cnt = levels.count(l)
            prop_dict[l] = cnt
            total += cnt
        prop_dict['total'] = total
        prop_dicts.append(prop_dict)
    return prop_dicts

In [20]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
#name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')

# Clean annotations
unit = 'pair'
n_stds = 0.5
analysis_type = f'workers_by_{unit}'
dict_list_workers = load_analysis(analysis_type, run, group, batch, as_dict = True)
data_dict_list_clean = remove_contradicting_workers(data_dict_list, dict_list_workers, unit,  n_stds)

Discarded 655.0 annotations.
pair in input
found pair

In [21]:
import pandas as pd

# Raw data
top_labels  = get_top_labels(data_dict_list)
pair_table = get_pair_table(top_labels, aggregation = 'top_levels')
df = pd.DataFrame(pair_table)
columns = ['property', 'total', 'all', 'all-some', 'some',
           'few-some', 'few', 'creative-few', 'creative',
           'all-creative', 'all-few', 'all-creative-few', 'creative-few-some']
df[columns].sort_values('property')

,property,total,all,all-some,some,few-some,few,creative-few,creative,all-creative,all-few,all-creative-few,creative-few-some
7,black,101,6,4,46,5,39,0,1,0,0,0,0
8,dangerous,95,42,4,9,4,34,1,1,0,0,0,0
2,fly,104,41,0,4,0,46,8,4,0,0,0,1
4,hot,96,30,11,26,2,23,3,1,0,0,0,0
1,lay_eggs,96,52,0,0,0,38,0,3,0,3,0,0
3,made_of_wood,95,20,7,37,6,22,0,3,0,0,0,0
11,red,174,11,4,81,11,59,0,7,0,0,0,0
10,roll,120,34,3,41,6,27,0,3,1,3,0,1
12,round,140,36,8,72,0,18,0,5,0,0,0,0
5,square,88,8,10,53,1,16,0,0,0,0,0,0
6,sweet,105,21,4,34,1,33,7,4,0,0,1,0
9,wheels,82,58,1,4,2,13,0,3,0,1,0,0
0,yellow,82,11,3,8,0,51,6,3,0,0,0,0

In [22]:
# Raw data
top_labels  = get_top_labels(data_dict_list)
pair_table = get_pair_table(top_labels, aggregation = 'majority_levels')
df = pd.DataFrame(pair_table)
columns = ['property', 'total', 'all', 'all-some', 'some',
           'few-some', 'few', 'creative-few', 'creative',
           'all-creative', 'all-few', 'all-creative-few', 'creative-few-some']
df[columns].sort_values('property')

,property,total,all,all-some,some,few-some,few,creative-few,creative,all-creative,all-few,all-creative-few,creative-few-some
7,black,101,6,4,46,5,39,0,1,0,0,0,0
8,dangerous,95,42,4,9,4,34,1,1,0,0,0,0
2,fly,104,41,0,4,0,46,8,4,0,0,0,1
4,hot,96,30,11,26,2,23,3,1,0,0,0,0
1,lay_eggs,96,52,0,0,0,38,0,3,0,3,0,0
3,made_of_wood,95,20,7,37,6,22,0,3,0,0,0,0
11,red,174,11,4,81,11,59,0,7,0,0,0,0
10,roll,120,34,3,41,6,27,0,3,1,3,0,1
12,round,140,36,8,72,0,18,0,5,0,0,0,0
5,square,88,8,10,53,1,16,0,0,0,0,0,0
6,sweet,105,21,4,34,1,33,7,4,0,0,1,0
9,wheels,82,58,1,4,2,13,0,3,0,1,0,0
0,yellow,82,11,3,8,0,51,6,3,0,0,0,0

In [17]:
# clean data
top_labels_clean = get_top_labels(data_dict_list_clean)
pair_table = get_pair_table(top_labels_clean, aggregation = 'top_levels')
df = pd.DataFrame(pair_table)
columns = ['property', 'total', 'all', 'all-some', 'some',
           'few-some', 'few', 'creative-few', 'creative',
           'all-creative', 'all-few', 'creative-few-some']
df[columns].sort_values('property')

,property,total,all,all-some,some,few-some,few,creative-few,creative,all-creative,all-few,creative-few-some
11,black,98,6,3,47,5,36,0,1,0,0,0
3,dangerous,92,39,4,10,3,33,1,1,0,0,0
9,fly,101,41,0,4,0,42,9,3,1,0,0
4,hot,93,29,13,24,2,22,0,3,0,0,0
10,lay_eggs,95,50,0,0,0,39,1,2,0,3,0
8,made_of_wood,93,20,8,35,8,17,2,2,0,0,0
5,red,174,10,4,83,6,62,1,8,0,0,0
2,roll,120,30,1,49,3,26,0,4,3,3,0
0,round,140,28,13,73,2,17,2,3,0,0,0
6,square,87,7,11,53,2,14,0,0,0,0,0
7,sweet,102,20,6,29,2,31,9,4,0,0,1
1,wheels,80,54,2,3,2,15,0,3,0,1,0
12,yellow,80,10,3,8,0,50,6,3,0,0,0

In [18]:
# clean data
top_labels_clean = get_top_labels(data_dict_list_clean)
pair_table = get_pair_table(top_labels_clean, aggregation = 'majority_levels')
df = pd.DataFrame(pair_table)
columns = ['property', 'total', 'all', 'all-some', 'some',
           'few-some', 'few', 'creative-few', 'creative',
           'all-creative', 'all-few', 'creative-few-some']
df[columns].sort_values('property')

,property,total,all,all-some,some,few-some,few,creative-few,creative,all-creative,all-few,creative-few-some
11,black,98,6,3,47,5,36,0,1,0,0,0
3,dangerous,92,39,4,10,3,33,1,1,0,0,0
9,fly,101,41,0,4,0,42,9,3,1,0,0
4,hot,93,29,13,24,2,22,0,3,0,0,0
10,lay_eggs,95,50,0,0,0,39,1,2,0,3,0
8,made_of_wood,93,20,8,35,8,17,2,2,0,0,0
5,red,174,10,4,83,6,62,1,8,0,0,0
2,roll,120,30,1,49,3,26,0,4,3,3,0
0,round,140,28,13,73,2,17,2,3,0,0,0
6,square,87,7,11,53,2,14,0,0,0,0,0
7,sweet,102,20,6,29,2,31,9,4,0,0,1
1,wheels,80,54,2,3,2,15,0,3,0,1,0
12,yellow,80,10,3,8,0,50,6,3,0,0,0