In [1]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_iaa import get_agreement

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [2]:
run = 3
batch = 16
n_q = 70
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(impossible, typical_of_property)","(typical_of_property, unusual)","(implied_category, impossible)","(affording_activity, impossible)","(implied_category, unusual)","(affording_activity, unusual)","(implied_category, rare)","(impossible, typical_of_concept)"
8,5e4b00acecbca8011a7319c1,79,12,0,0.151899,0.000000,5.993304,1.0,NaN,3.0,1.0,3.0,1.0,2.0,1.0
3,5c688d8e9b80050001708a14,79,6,0,0.075949,0.000000,7.042696,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
9,5b479eb95a02af0001a79012,79,4,1,0.050633,0.012658,12.831177,NaN,1.0,NaN,NaN,1.0,1.0,1.0,NaN
5,5d51e1e3d255270001a28fbb,79,2,0,0.025316,0.000000,9.393835,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
0,5b222aff59f9620001c109cb,79,0,0,0.000000,0.000000,7.138608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5c62a91524035400014b69dc,79,0,0,0.000000,0.000000,6.570013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5c67338e7d17f800013f6176,79,0,0,0.000000,0.000000,2.421633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5cb62e72ebe8a50001a9b7c8,79,0,1,0.000000,0.012658,5.006937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5dd7abaaaf16d3746667182c,79,0,0,0.000000,0.000000,9.636025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5e38196845318801d994744c,79,0,0,0.000000,0.000000,12.833975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares ot

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [7]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df[:10]

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(afforded_unusual, unusual)","(typical_of_property, unusual)","(implied_category, unusual)",...,"(impossible, typical_of_concept)","(impossible, typical_of_property)","(implied_category, impossible)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(implied_category, rare)","(rare, typical_of_concept)","(affording_activity, rare)","(rare, typical_of_property)"
426,5d76a2dc2a476a0001ce6843,75,45,1,0.600000,0.013333,15.823027,NaN,3.0,5.0,...,3.0,2.0,3.0,2.0,NaN,NaN,5.0,5.0,5.0,3.0
241,5c91321c0375460001034cb8,71,38,0,0.535211,0.000000,12.942127,2.0,6.0,6.0,...,5.0,5.0,4.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
15,5dc0395f2a1dd64710661ccd,71,33,0,0.464789,0.000000,3.745113,4.0,5.0,5.0,...,3.0,2.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
420,5e76ab49dec4562243b421f9,79,35,2,0.443038,0.025316,17.116886,NaN,3.0,2.0,...,3.0,1.0,2.0,3.0,NaN,NaN,2.0,4.0,4.0,3.0
192,5d4434c68225f9001642fcd3,71,30,0,0.422535,0.000000,5.209535,1.0,4.0,4.0,...,3.0,3.0,3.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN
187,5de8dc07f42a16000a301cd6,78,31,0,0.397436,0.000000,4.965808,2.0,5.0,5.0,...,3.0,3.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
71,599aca876b939900012da2cd,71,27,0,0.380282,0.000000,19.589310,1.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5ddc56fbf290e7bbfa96481d,71,27,0,0.380282,0.000000,11.515127,5.0,3.0,6.0,...,NaN,NaN,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN
150,banking,75,26,0,0.346667,0.000000,0.000000,1.0,3.0,2.0,...,4.0,4.0,2.0,NaN,2.0,3.0,NaN,NaN,NaN,NaN
387,5c8d3f8bf756d40016683868,76,25,0,0.328947,0.000000,12.950526,NaN,3.0,6.0,...,NaN,1.0,2.0,1.0,NaN,NaN,3.0,2.0,NaN,2.0

### Get all disagreements and fails of a particular worker

In [8]:
# copy from above - worker with many disagreements in target batch
worker = '5e4b00acecbca8011a7319c1'

# df.loc[df['column_name'] == some_value]
df.loc[df['workerid'] == worker]

,workerid,n_annotations,n_contradictions,n_fails,contradiction_annotation_ratio,fail_annotation_ratio,average_time_question,"(afforded_unusual, unusual)","(typical_of_property, unusual)","(implied_category, unusual)",...,"(impossible, typical_of_concept)","(impossible, typical_of_property)","(implied_category, impossible)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(implied_category, rare)","(rare, typical_of_concept)","(affording_activity, rare)","(rare, typical_of_property)"
352,5e4b00acecbca8011a7319c1,79,12,0,0.151899,0.0,5.993304,NaN,NaN,3.0,...,1.0,1.0,3.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [5]:
run = '3'
batch = '16'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,average_time_pair,workers_contradicting,workers_not_contradicting,"(implied_category, unusual)","(implied_category, rare)","(affording_activity, unusual)","(affording_activity, impossible)","(implied_category, impossible)","(impossible, typical_of_concept)","(impossible, typical_of_property)","(typical_of_property, unusual)"
3,round-can,100,10,10,3,0.3,0.10,62.305880,5c688d8e9b80050001708a14 5d51e1e3d255270001a28...,5b222aff59f9620001c109cb 5c62a91524035400014b6...,2.0,NaN,3.0,1.0,1.0,NaN,1.0,2.0
2,round-seedpod,100,10,4,1,0.1,0.04,62.305880,5e4b00acecbca8011a7319c1,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN
5,red-daisy,100,10,3,2,0.2,0.03,62.305880,5e4b00acecbca8011a7319c1 5b479eb95a02af0001a79012,5b222aff59f9620001c109cb 5c62a91524035400014b6...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
7,red-slug,100,10,3,1,0.1,0.03,62.305880,5e4b00acecbca8011a7319c1,5b222aff59f9620001c109cb 5c62a91524035400014b6...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
0,red-elm,100,10,2,1,0.1,0.02,62.305880,5e4b00acecbca8011a7319c1,5b222aff59f9620001c109cb 5c62a91524035400014b6...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,red-candy,100,10,1,1,0.1,0.01,62.305880,5e4b00acecbca8011a7319c1,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,round-mayonnaise,100,10,1,1,0.1,0.01,62.305880,5d51e1e3d255270001a28fbb,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6,red-strawberry,60,10,0,0,0.0,0.00,103.843133,,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,roll-sprocket,10,10,0,0,0.0,0.00,623.058800,,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,_check1-_check1,10,10,0,0,0.0,0.00,623.058800,,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,_test1-_test1,10,10,0,0,0.0,0.00,623.058800,,5b222aff59f9620001c109cb 5c62a91524035400014b6...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [6]:
worker = '5e4b00acecbca8011a7319c1'

show_pairs_of_worker(worker, df)

Worker 5e4b00acecbca8011a7319c1 contradicted themselves in the following pairs:

round-seedpod 	 total workers contradicting themselves: 1
red-daisy 	 total workers contradicting themselves: 2
red-slug 	 total workers contradicting themselves: 1
red-elm 	 total workers contradicting themselves: 1
red-candy 	 total workers contradicting themselves: 1

### Compare to entire annotation set

In [18]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df

,pair,n_annotations,n_workers,n_contradictions,n_workers_contradicting,ratio_workers_contradicting,contradiction_annotation_ratio,average_time_pair,annotators_contradicting,"(afforded_unusual, unusual)",...,"(impossible, typical_of_property)","(affording_activity, unusual)","(implied_category, impossible)","(implied_category, rare)","(rare, typical_of_concept)","(rare, typical_of_property)","(affording_activity, impossible)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(affording_activity, rare)"
26,roll-spindle,50,5,22,4,0.8,0.44,57.711660,5dc0395f2a1dd64710661ccd 5ddc56fbf290e7bbfa964...,3.0,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN
231,roll-bolt,50,5,21,5,1.0,0.42,85.335380,5acb5910e1546900019c413a 5c5758e9efe1550001dc3...,4.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
23,roll-mandrel,50,5,21,5,1.0,0.42,57.711660,5dc0395f2a1dd64710661ccd 5ddc56fbf290e7bbfa964...,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,roll-lamp,50,5,17,4,0.8,0.34,85.335380,5acb5910e1546900019c413a 5d3f14f66a8a4e0018c17...,3.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN
96,red-mentzelia,50,5,16,4,0.8,0.32,72.657960,5b994a6d700b020001c572e2 5d134f52f1341200164f9...,NaN,...,1.0,3.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,red-ladybird,50,5,0,0,0.0,0.00,85.898220,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,red-gorilla,140,14,0,0,0.0,0.00,75.016829,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,red-banana,15,5,0,0,0.0,0.00,286.327400,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,red-carrot,15,5,0,0,0.0,0.00,286.327400,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,_test1-_test1,39,38,0,0,0.0,0.00,850.945855,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Inter-annotator agreement

Compare both runs in original version and version without annotations in which annotators contradict themselves:

In [7]:

run = 1
group = 'experiment1'
batch = '*'
n_q = '*'
statuses = ['original', 'clean']
print(f'--- analyzing run {run} ---')
for status in statuses:
    get_agreement(run, group, batch, n_q, status)



run = 3
group = 'experiment1'
batch = '*'
n_q = '*'
statuses = ['original', 'clean']
print(f'--- analyzing run {run} ---')
for status in statuses:
    get_agreement(run, group, batch, n_q, status)

--- analyzing run 1 ---
Analyzing run 1 of experiment group experiment1 (original):
Krippendorff's alpha: 0.2413329996998821
Proportional agreement (pairwise): 0.6204625909422006

Analyzing run 1 of experiment group experiment1 (clean):
original number of annotations: 21257
number of clean annotations: 14519
number of discarded annotations: 6738
percentage discarded: 0.316977936679682
Krippendorff's alpha: 0.32159574124607226
Proportional agreement (pairwise): 0.6234131462884155

--- analyzing run 3 ---
Analyzing run 3 of experiment group experiment1 (original):
Krippendorff's alpha: 0.25259966746908213
Proportional agreement (pairwise): 0.6403151672519694

Analyzing run 3 of experiment group experiment1 (clean):
original number of annotations: 11443
number of clean annotations: 9209
number of discarded annotations: 2234
percentage discarded: 0.19522852398846458
Krippendorff's alpha: 0.34350911769910886
Proportional agreement (pairwise): 0.7003314519055274